.top-container {

	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
	}

body {
	margin: 0;
	text-align: center;
	font-family: monospace;
}

h1 {
	margin-top: 0;
	font-size: 90px;
	color: #66BFBF;
	font-weight: normal;
}


.bottom-cloud {
	position: absolute;
	left: 700px;
	bottom: 300px;
}

.top-cloud {
	position: absolute;
	right: : 1000px;
	top: 50px;
}

h2 {
	font-size: 50px;
}